.metadata
/target/
/coverage/
/jsCoverageReport/
.checkstyle
.classpath
.pmd
.project
.settings
build.sh
/logs
*.swp
/node
/node_modules/
.idea
.sass-cache
.DS_Store
.project
/src/build

/bin/
settings.json
.vscode/tasks.json
package-lock.json
.vscode
