<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body>
<div id="NonReactContainer" class="container">
    <!-- ObserverPattern html start -->
    <div id="observablesPattern" class="section">
        <div class="section-hdr">Observables Pattern</div>
        <div id="observablesPatternElement" class="box">0</div>
        <hr>
        <button id="increaseObservablesCounterButton">Increase</button>
    </div>
    <!-- ObserverPattern html end -->
    <!-- Debounce throttle start -->
    <div id="throttle-debounce" class="section">
        <div class="section-hdr">Debounce/Throttle</div>
        <div id="mosemove-box" class="subsection">
            Move mouse over
        </div>
        <div id="result" class="subsection">
            <div class="raw">Raw: <span>0</span></div>
            <div class="throttle">Throttle: <span>0</span></div>
            <div class="debounce">Debounce: <span>0</span></div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Debounce throttle end -->
</div>
</body>
</html>