#observablesPattern{
  .box{
    height: 70px;
    width: 70px;
    text-align: center;
    color: white;
    border: 1px solid black;
    display: inline-block;
    line-height: 70px;
    &.green{
      background-color: green;
    }
    &.orange{
      background-color: orange;
    }
    &cyan{
      background-color:cyan;
    }
    &.blue{
      background-color: blue;
    }
  }
  .desc{
    margin-top: 10px;
  }
  hr{
    margin: 20px 0;
  }
}