<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
    <link rel="stylesheet" href="b.css">
    <style>
        #fillBar{
            color: green;
        }
    </style>
</head>
<body>
  <div id="progressBar">
    <div id="fillBar">
      
    </div>
  </div>
   <button class="btn btn-primary" onclick="progressBar(7000, 17)">click</button>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="b.js"></script>
</body>
</html>