body{
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: $font-size-normal;
  font-weight: $font-normal;
  color: $font-color;

  .container{
    padding: $block-distance / 2;
    border: 1px solid $light-border;
    border-radius: $block-border-radius;
    width: 90%;
    margin: $block-distance auto;
    .container-hdr{
      font-size: $font-size-medium;
      margin-bottom: $block-distance;
      text-align: center;
    }
  }
  .section{
    padding: $block-distance / 2;
    border: 1px solid $lighter-border;
    border-radius: $block-border-radius;
    background-color: $lighter-border;
    &:not(:last-child){
      margin-bottom: $block-distance;
    }
    .section-hdr{
      text-align: left;
      margin-bottom: 5px;
      font-weight: $font-semi-bold;
    }
  }
  .icon::before{
    font-family: "custom-test-font", sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  .clear{
    clear:both;
  }
  button{
    padding: 10px 15px;
    color: white;
    background-color: $dark-green;
    font-weight: $font-semi-bold;
    font-size: $font-size-normal;
    cursor: pointer;
    &.red{
      background-color: #8c1515;
    }
    &.blue{
      background-color: #007C92;
    }
    &.grey{
      background-color: #444444;
    }
  }
}