$font-light: 200;
$font-normal: 400;
$font-semi-bold: 500;
$font-bold: 600;
$font-size-normal: 18px;
$font-size-large: 24px;
$font-size-medium: 21px;

//Colors
$cardinal: #8c1515;
$anchor-color: #007C92;
$subnav-color: #009B76;
$light-green: #009B76;
$medium-green: #175E54;
$dark-green: #00505C;
$blue-background: rgba(0,124,146,0.15);
$blue-background-light: rgba(0,124,146,0.015);
$overlay-background: rgba(0,124,146,.2);
$light-border: #d8d8d8;
$lighter-border: #f5f5f5;
$font-color: #4d4f53;

$block-distance: 40px;
$block-border-radius: 5px;